.item-card {
  border-radius: 20px;
  background: linear-gradient(135deg, #1b8911 0%, #5cb947 100%);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.item-card.expired {
  background: linear-gradient(135deg, #b71c1c 0%, #f44336 100%);
}

.item-card.soon-to-expire{
  background: linear-gradient(135deg, #f4a742 0%, #f4d742 100%);
}

.item-card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.item-card-content {
  padding: 5px 15px;
  font-size: 0.9em;
  color: #ffffffcc;
  text-align: right;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}; 