# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.sqlite3
db.sqlite3

# Ignore Django migration files
**/migrations/*
!**/migrations/__init__.py

# Ignore pycache files
__pycache__/
*.pyc

